{% load static %}

<div class="row row-space">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
    </div>
    <div class="col-6">
       <p class="footer-style"> Todos os Direitos reservados.</p>
    </div>
    <div class="col-3">
        
    </div>
    
</div>