{% extends 'website/base.html' %}
{% load static %}


{% block main%}


    <div class="row row-space">
        <div class="col-6">
            Em alguns países, os donos dos estabelecimentos são obrigados 
            por lei a reservar uma porcentagem de vagas para motoristas que 
            apresentam deficiências físicas.
            Para entender mais sobre as vagas exclusivas de estacionamento 
            rotativo, acesse o o blog do Zul Digital
        </div>
        <div class="col-6">
            Zona Azul é o sistema de estacionamento rotativo nas ruas e avenidas 
            públicas no Brasil. As vagas de estacionamento são sinalizadas e 
            demarcadas pelo órgão de regulamentação de trânsito da cidade e possuem 
            regras específicas dependendo da região, dia e horário. Por esse motivo, 
            é preciso estar atento às placas de sinalização da via no momento em que 
            deseja estacionar.
        </div>
    </div>
    

    <div class="row row-space">
        <div class="col-4">
            Dá-se o nome de seguro (do latim "securus"[1]) a todo 
            contrato pelo qual uma das partes, segurador, se obriga 
            a indenizar a outra, segurado, em caso da ocorrência de 
            determinado sinistro, em troca do recebimento de um prêmio 
            de seguro. 
        </div>
        <div class="col-4">
            <img src="{% static 'img/seguranca-veicular.jpg' %}" width="350" height="200" alt="segurança">
        </div>
        <div class="col-4">
            O seguro nasceu da necessidade do homem em controlar o risco. Existem 
            indícios que já na Babilônia, 23 séculos antes de cristo, caravanas de 
            cameleiros que cruzavam o deserto mutualizavam entre si os prejuízos com 
            morte de animais. Na China antiga e no Império Romano também havia seguros. 
        </div>
    </div>

    <div class="row row-space">
        <div class="col-6">
            Dá-se o nome de seguro (do latim "securus"[1]) a todo 
            contrato pelo qual uma das partes, segurador, se obriga 
            a indenizar a outra, segurado, em caso da ocorrência de 
            determinado sinistro, em troca do recebimento de um prêmio 
            de seguro. 
        </div>
        <div class="col-6">
            O seguro nasceu da necessidade do homem em controlar o risco. Existem 
            indícios que já na Babilônia, 23 séculos antes de cristo, caravanas de 
            cameleiros que cruzavam o deserto mutualizavam entre si os prejuízos com 
            morte de animais. Na China antiga e no Império Romano também havia seguros. 
        </div>
    </div>


{% endblock%}