{% extends 'website/base.html' %}

{% block main%}
 
<div class="col" align="center">
    <div class="row">
        <h1>Website in development:
            
            If you arrived here by social media please 
            try to test the system that is done: 
            <a href="https://estacionamento-app-heroku.herokuapp.com/accounts/login/" class="btn btn-primary">System</a>
            <p></p>
            <p></p>
            <img src="https://png2.cleanpng.com/sh/e62c59cf53e26ce301366f1c844d5b90/L0KzQYm3VMIxN6J6fZH0aYP2gLBuTfNwdqR5iudsdHnyfn7AjCJsbaMyeeRsaHn3dbT7lgJidF5qhtlybnXogrr1h71kaaN5RadqZEnpQIK3V8U3OWY1Rqo5NkS5RIS8UcUzPGM4SqQ5OES7QIm1kP5o/kisspng-construction-worker-architectural-engineering-cart-5ad9f010756150.8064643515242322084808.png" alt="">

        </h1>
    </div>
</div>
{% endblock%}