<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'website_home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Planos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Sobre</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sistema</a>
              </li>
          </ul>
    </div>
</div>