{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
        <div class="dropdown-menu">
            
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
            <a class="dropdown-item" href="{% url 'core_lista_rotativos' %}">Rotativos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
            <a class="dropdown-item active" href="{% url 'core_lista_mov_mensalistas' %}">Mov Mensalistas</a>
            

        <div class="dropdown-divider">
        </div>
            <a class="dropdown-item" href="{% url 'core_home' %}">Voltar a Home</a>
        </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Logado como: {{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {%endif%}
        </li>
    </ul>
{% endblock %}

{% block main %}



<div class="row">
    <div class="col-sm-12">
        <h2>Lista Mov Mensalistas</h2>



<div class="row">
    <div class="col">
        <form action="{% url 'core_mov_mensalistas_novo' %}" method="POST"> {% csrf_token %}
        
            {{ mm_form | bootstrap }}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            
        </form>

        <h1>Lista de Mov Mensalistas</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Mensalista</th>
                <th scope="col">Data De Pagamento</th>
                <th scope="col">Total</th>
                <th scope="col">Atualizar</th>
              </tr>
            </thead>
            <tbody>
                {% for movmensalista in movmensalistas %}
                    <tr>
                        <th scope="row">{{movmensalista.id}}</th>
                        <td>{{movmensalista.mensalista}}</td>
                        <td>{{movmensalista.datapagamento}}</td>
                        <td>{{movmensalista.total}}</td>
                        <td><a href="{% url 'core_update_mov_mensalistas' movmensalista.id %}" class="btn btn-primary">Atualizar</a></td>
                    </tr>
              {%endfor%}
            </tbody>
          </table>    
    </div>
</div>

{% endblock %}