{% extends 'base.html' %}

{% load bootstrap %}
{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
        <div class="dropdown-menu">
            
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
            <a class="dropdown-item active" href="{% url 'core_lista_rotativos' %}">Rotativos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_mensalistas' %}">Mov Mensalistas</a>
            

        <div class="dropdown-divider">
        </div>
            <a class="dropdown-item" href="{% url 'core_home' %}">Voltar a Home</a>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock %}
{% block main %}

    <div class="row">
        <div class="col">
            <h2>Cadastro Rotativos</h2>
            <form action="{% url 'core_pessoa_novo' %}" method="POST"> 
                <form action="{% url 'core_rotativos_novo' %}" method="POST"> {% csrf_token %}
            
                    {{ r_form | bootstrap }}
                    
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <p></p>
                </form>
            

            <h1>Lista Rotativos</h1>
      
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">CheckIn</th>
                    <th scope="col">CheckOut</th>
                    <th scope="col">Valor Hora</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Atualizar</th>
                  </tr>
                </thead>
                <tbody>
                    {% for rotativo in rotativos %}
                        <tr>
                            <th scope="row">{{rotativo.id}}</th>
                            <td>{{rotativo.checkin}}</td>
                            <td>{{rotativo.checkout}}</td>
                            <td>{{rotativo.valor_hora}}</td>
                            <td>{{rotativo.veiculo}}</td>
                            <td>{{rotativo.pago}}</td>
                            <td><a href="{% url 'core_update_rotativos' rotativo.id %}" class="btn btn-primary">Atualizar</a></td>
                            
                        </tr>
                  {%endfor%}
                </tbody>
              </table>
       
    </div>
</div>

{% endblock %}