{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}



<div class="row">
    <div class="col-sm-12">
        <h2>Lista Mov Mensalistas</h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_mov_mensalistas_novo' %}" method="POST"> {% csrf_token %}
        
            {{ mm_form | bootstrap }}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            
        </form>
    </div>

    <div class="col-sm-6">
        <ul>
            {% for movmensalista in movmensalistas %}
            
            <a href="{% url 'core_update_mov_mensalistas' movmensalista.id %}"> <li> {{ movmensalista.mensalista}} </li> </a>
            
            {%endfor%}
        </ul>
    </div>
</div>

{% endblock %}