{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
        <div class="dropdown-menu">
            
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item active" href="{% url 'core_lista_veiculos' %}">Veículos</a>
            <a class="dropdown-item" href="{% url 'core_lista_rotativos' %}">Rotativos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_mensalistas' %}">Mov Mensalistas</a>
            

        <div class="dropdown-divider">
        </div>
            <a class="dropdown-item" href="{% url 'core_home' %}">Voltar a Home</a>
        </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Logado como: {{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {%endif%}
        </li>
    </ul>
{% endblock %}

{% block main %}


<div class="row">
    <div class="col-sm-12">
        <h2>Lista Veiculos</h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_veiculos_novo' %}" method="POST"> {% csrf_token %}
            {{ v_form | bootstrap }}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            
        </form>
        <p>

        </p>
    </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Marca</th>
            <th scope="col">Placa</th>
            <th scope="col">Cor</th>
            <th scope="col">Proprietário</th>
            <th scope="col">Modelo</th>
            <th scope="col">Observações</th>
            <th scope="col">Atualizar</th>
          </tr>
        </thead>
        <tbody>
            {% for veiculo in veiculos %}
                <tr>
                    <th scope="row">{{veiculo.id}}</th>
                    <td>{{veiculo.marca}}</td>
                    <td>{{veiculo.placa}}</td>
                    <td>{{veiculo.cor}}</td>
                    <td>{{veiculo.proprietario}}</td>
                    <td>{{veiculo.modelo}}</td>
                    <td>{{veiculo.observacoes}}</td>
                    <td><a href="{% url 'core_veiculo_update' veiculo.id %}" class="btn btn-primary">Atualizar</a></td>
                    
                </tr>
          {%endfor%}
        </tbody>
      </table>
</div>

{% endblock %}