{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col">
        <h2>Atualizando Mov Mensalista: {{ movmensalistas }}</h2>



        <form action="{% url 'core_update_mov_mensalistas' movmensalistas.id %}" method="POST"> 
        
            {% csrf_token %}
            
            {{ mm_form | bootstrap }}
            
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="{% url 'core_delete_mov_mensalistas' movmensalistas.id %}" class="btn btn-danger" >Deletar</a>    
        </form>
        <p></p>
        
        
        
    </div>
</div>

{% endblock %}